[submodule "themes/hugo-icon"]
	path = themes/hugo-icon
	url = https://github.com/SteveLane/hugo-icon
[submodule "public"]
	path = public
	url = git@github.com:community-accelerator/community-accelerator.github.io.git
	branch = master
