#fh5co-about .fh5co-2col {
  width: 100%;
}

#fh5co-about .fh5co-2col-inner {
  padding: 1em 0 5em 0;
  width: 1170px;
  float: none;
}

#fh5co-about .fh5co-2col-inner.left {
  float: none;
}

@media screen and (max-width: 320px) {
  #fh5co-home .fh5co-copy-inner h1 {
    font-size: 45px;
    margin-top: 65px;
  }
}

@media screen and (max-width: 768px) {
  #contactForm button {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #fh5co-home h2 {
    background-color: rgba(127, 127, 127, 0.6);
    color: white;
  }

  #fh5co-home .fh5co-copy-inner h2 {
    color: white;
  }
}